1. Webpack:
- import/exports;
- babel;
- scss;
- eslint;
- two modes:
  - development:
    - dev server - для отображение изменений в браузере + hot reload style;
    - source map - исходные карты, для css и для лучшего дебага;
    - eslint - чистота кода, единый стиль;
    - not minified JS & CSS - для понимания кода, но в production монифицируем.
  - production:
    - minified code.

2. Git:
- development - 1.0.2
- production - 1.0.0
