@mixin button($color: #4d7fff) {
  height: 24px;
  min-width: 24px;
  padding: 3px;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, .7);

  & span {
    font-size: 21px;
  }


  &:hover {
    background: #eee;
    cursor: pointer;
  }

  &:active, &_active {
    color: $color;
  }

}