@import 'variables';
@import 'mixins';

.dashboard {
  &__header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: $header-height;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    box-shadow: 0 10px 5px -5px rgba(240, 240, 240, 1);
    z-index: 999;

    &-title {
      color: #474747;
      span {
        color: #fdfd33;
      }
    }
  }

  &__new {
    margin-top: $header-height;
    padding: 25px;
  }

  &__create {
    position: relative;
    width: 150px;
    height: 150px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    border-radius: 3px;
    font-size: 18px;
    border: 1px solid #dbdbdb;
    color: #dbdbdb;
    transition: .3s all ease;

    span {
      position: absolute;
      top: 10px;
      right: 10px;
      color: #dbdbdb;
      transition: all .3s ease;
    }

    &:hover {
      border-color: transparent;
      box-shadow: 0 0 5px 0 rgba(240, 240, 240, 1);
      color: #000;

      span {
        color: #000;
      }
    }
  }

  &__view {
    max-width: 1000px;
    margin: 0 auto;
  }

  &__table {
    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 15px;
      background: #f6f6f6;
      border-radius: 3px;
    }

    &-title {
      font-size: 16px;
    }

    &-date {
      font-size: 16px;
      font-weight: 700;
    }

    &-empty {
      margin: 0 auto;
      max-width: 1000px;
      display: block;
      font-size: 16px;
      font-weight: 300;
    }
  }

  &__list {
    &-link{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 15px;
      transition: all .3s ease-in-out;
      border-radius: 3px;

      &:hover {
        cursor: pointer;
        background: #fafafa;
      }
    }

    &-title {
      font-weight: 400;
    }
  }

}