@import 'variables';
@import 'mixins';

.excel__table {
  position: fixed;
  top: $header-height + $toolbar-height + $formula-height;
  left: 0;
  right: 0;
  overflow-x: auto;
  padding-bottom: 2px;

  &-row {
    min-height: 20px;
    height: $row-height;
    display: flex;
    align-items: center;
  }

  &-row-info {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $info-cell-width;
    height: 100%;
    background: #fcfcfc;
    border: 1px solid $border-color;
    border-top: none;
    user-select: none;
  }

  &-row-data {
    display: flex;
    height: 100%;
  }

  &-col {
    min-width: $data-cell-width;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fcfcfc;
    border: 1px solid $border-color;
    border-top: none;
    border-left: none;
    position: relative;
    user-select: none;
  }

  &-col-resize, &-row-resize {
    position: absolute;
    right: 0;
    bottom: 0;
    background: $outline-color;
    opacity: 0;
    z-index: 1;
    transition: all .2s ease-in-out;
  }

  &-col-resize {
    top: 0;
    right: -2px;
    width: 3px;

    &:hover {
      opacity: 1 !important;
      cursor: col-resize;
    }
  }

  &-col-resize_selected {
    &:before {
      content: '';
      position: absolute;
      left: 1px;
      width: 1px;
      height: 9999px;
      background: $outline-color;
    }
  }

  &-row-resize {
    left: 0;
    bottom: -2px;
    height: 3px;

    &:hover {
      opacity: 1 !important;
      cursor: row-resize;
    }
  }

  &-row-resize_selected {
    &:before {
      content: '';
      position: absolute;
      top: 1px;
      height: 1px;
      width: 9999px;
      background: $outline-color;
    }
  }

  &-cell {
    min-width: $data-cell-width;
    border: 1px solid $border-color;
    border-top: none;
    border-left: none;
    padding: 4px;

    &_selected {
      border: none;
      outline: 2px solid $outline-color;
      z-index: 2;
    }
  }
}