@import 'variables';
@import 'mixins';

.excel__toolbar {
  position: fixed;
  height: $toolbar-height;
  padding: 5px 10px;
  top: $header-height;
  right: 0;
  left: 0;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  display: flex;
  align-items: center;

  &-btn {
    @include button(#4d7fff)
  }
}
